/*-- scss:defaults --*/
$primary: #34d399 !default;
$link-color: #34d399 !default;
$body-bg: #181a1d !default;

/*-- scss:rules --*/
#quarto-sidebar,
.sidebar.sidebar-navigation,
nav.quarto-secondary-nav {
  background-color: #131416;
}

nav.quarto-secondary-nav .breadcrumb {
  background-color: transparent;
}

code {
  background-color: #2b2f33;
  color: #7fdbca;
}
